.Rproj.user
.Rhistory
.RData
.Ruserdata

.config/

.local/

.venv/

reports/.Renviron

.jupyter/

*.pdf

.pdfbox.cache

.Renviron

review-material/

.cache/

.TinyTeX/

bin/

README.html

reports/022/origami/

reports/022/experimental-evaluation-ble-beacon/

reports/017/cvpr21_newt_pretrained_models/

*.gz

reports/017/per_species.zip

reports/017/iNaturalist_Competition/

reports/017/per_species/

.bash_history

agile-reproducibility-reviews.html

reports/017/MicrosoftSpeciesClassification/

reports/017/RequestCollectionComputerVisionAPIs/

reports/017/images_per_model/

reports/017/images_per_model.zip

reports/019/PretrainedModel.zip

reports/019/Geoparsing-Solved-Or-Biased/

reports/1104/CompetitiveReconstructionNetworks/
